    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .col                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .col.alpha               { margin-left: 0; }
    .col.omega               { margin-right: 0; }

    /* Base Grid */
    .container .grid-1.col                     { width: 40px;  }
    .container .grid-2.col                     { width: 100px; }
    .container .grid-3.col                   { width: 160px; }
    .container .grid-4.col                    { width: 220px; }
    .container .grid-5.col                    { width: 280px; }
    .container .grid-6.col                     { width: 340px; }
    .container .grid-7.col                   { width: 400px; }
    .container .grid-8.col                   { width: 460px; }
    .container .grid-9.col                    { width: 520px; }
    .container .grid-10.col                     { width: 580px; }
    .container .grid-11.col                  { width: 640px; }
    .container .grid-12.col                  { width: 700px; }
    .container .grid-13.col                { width: 760px; }
    .container .grid-14.col                { width: 820px; }
    .container .grid-15.col                 { width: 880px; }
    .container .grid-16.col                 { width: 940px; }

    .container .grid-1-3.col                { width: 300px; }
    .container .grid-2-3.col               { width: 620px; }

    /* Offsets */
    .container .offset-by-grid-1                   { padding-left: 60px;  }
    .container .offset-by-grid-2                   { padding-left: 120px; }
    .container .offset-by-grid-3                 { padding-left: 180px; }
    .container .offset-by-grid-4                  { padding-left: 240px; }
    .container .offset-by-grid-5                  { padding-left: 300px; }
    .container .offset-by-grid-6                   { padding-left: 360px; }
    .container .offset-by-grid-7                 { padding-left: 420px; }
    .container .offset-by-grid-8                 { padding-left: 480px; }
    .container .offset-by-grid-9                  { padding-left: 540px; }
    .container .offset-by-grid-10                   { padding-left: 600px; }
    .container .offset-by-grid-11                { padding-left: 660px; }
    .container .offset-by-grid-12                { padding-left: 720px; }
    .container .offset-by-grid-13              { padding-left: 780px; }
    .container .offset-by-grid-14              { padding-left: 840px; }
    .container .offset-by-grid-15               { padding-left: 900px; }
    
    .hidden {
				    display: none !important;
				    visibility: hidden;
		}



/* #Tablet
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .col                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .col.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .col.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .grid-1.col                     { width: 28px; }
        .container .grid-2.col                     { width: 76px; }
        .container .grid-3.col                   { width: 124px; }
        .container .grid-4.col                    { width: 172px; }
        .container .grid-5.col                    { width: 220px; }
        .container .grid-6.col                     { width: 268px; }
        .container .grid-7.col                   { width: 316px; }
        .container .grid-8.col                   { width: 364px; }
        .container .grid-9.col                    { width: 412px; }
        .container .grid-10.col                     { width: 460px; }
        .container .grid-11.col                  { width: 508px; }
        .container .grid-12.col                  { width: 556px; }
        .container .grid-13.col                { width: 604px; }
        .container .grid-14.col                { width: 652px; }
        .container .grid-15.col                 { width: 700px; }
        .container .grid-16.col                 { width: 748px; }

        .container .grid-1-3.col                { width: 236px; }
        .container .grid-2-3.col               { width: 492px; }

        /* Offsets */
        .container .offset-by-grid-1                   { padding-left: 48px; }
        .container .offset-by-grid-2                   { padding-left: 96px; }
        .container .offset-by-grid-3                 { padding-left: 144px; }
        .container .offset-by-grid-4                  { padding-left: 192px; }
        .container .offset-by-grid-5                  { padding-left: 240px; }
        .container .offset-by-grid-6                   { padding-left: 288px; }
        .container .offset-by-grid-7                 { padding-left: 336px; }
        .container .offset-by-grid-8                 { padding-left: 384px; }
        .container .offset-by-grid-9                  { padding-left: 432px; }
        .container .offset-by-grid-10                   { padding-left: 480px; }
        .container .offset-by-grid-11                { padding-left: 528px; }
        .container .offset-by-grid-12                { padding-left: 576px; }
        .container .offset-by-grid-13              { padding-left: 624px; }
        .container .offset-by-grid-14              { padding-left: 672px; }
        .container .offset-by-grid-15               { padding-left: 720px; }

				.t-hidden, t-m-hidden {
				    display: none !important;
				    visibility: hidden;
				}
    }


/*  #Mobile
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .col { margin: 0 0 10px 0; }

        .container .grid-1.col,
        .container .grid-2.col,
        .container .grid-3.col,
        .container .grid-4.col,
        .container .grid-5.col,
        .container .grid-6.col,
        .container .grid-7.col,
        .container .grid-8.col,
        .container .grid-9.col,
        .container .grid-10.col,
        .container .grid-11.col,
        .container .grid-12.col,
        .container .grid-13.col,
        .container .grid-14.col,
        .container .grid-15.col,
        .container .grid-16.col,
        .container .grid-1-3.col,
        .container .grid-2-3.col  { width: 300px; }

        /* Offsets */
        .container .offset-by-grid-1,
        .container .offset-by-grid-2,
        .container .offset-by-grid-3,
        .container .offset-by-grid-4,
        .container .offset-by-grid-5,
        .container .offset-by-grid-6,
        .container .offset-by-grid-7,
        .container .offset-by-grid-8,
        .container .offset-by-grid-9,
        .container .offset-by-grid-10,
        .container .offset-by-grid-11,
        .container .offset-by-grid-12,
        .container .offset-by-grid-13,
        .container .offset-by-grid-14,
        .container .offset-by-grid-15 { padding-left: 0; }  
        
				.m-hidden, t-m-hidden {
				    display: none !important;
				    visibility: hidden;
				}
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested col,
    or wrap each row of col in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear col */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }